@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
body {
  background-color: #F8FAFC;
  color: #1E293B;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar to match design */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}